*{
    margin: 0;
    padding: 0;
}

kbd{
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 2.5;
    text-transform: uppercase;
    margin-left: 17px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px -6px rgba(184,178,184,1);

}

#farther{
    padding-top: 110px;
}

#farther div{
    text-align: center;
    padding-top: 18px;
    
}

kbd > button{
    display: none;
    position: absolute;
    left: 13px;
    top: 35px;
}

kbd:hover > button{
    display: inline-block;
}

body{
    background-image: url("./img/bcg.png");
}

